.logoOFF{
  background-image:  url(https://i.ibb.co/37qKjD1/logo1.png);
  background-size: 276px 93px;
  background-repeat: no-repeat;
  height: 93px;
  width: 276px;
}
.logoON{
  background-image:  url(https://i.ibb.co/TgFQRjM/logoB.png);
  background-size: 276px 93px;
  background-repeat: no-repeat;
  height: 93px;
  width: 276px;
}