  <header class="masthead">
    <div class="container h-100">

      <h3 class="text-center mt-0">¿QUÉ HACEMOS?</h3>
      <hr class="divider my-4">

      <div class="row h-50 align-items-center justify-content-center  ">
            <div class="col-lg-6 text-center ">
                
                    <img src="https://i.ibb.co/h9M81vN/somos.jpg" class="img-fluid" alt="Responsive image">
                        
    
    
            </div>
        <div class="col-lg-6 ">
            <!--Section: Contact v.2-->
            <section class="mb-4">
                    <p class="text-justify w-responsive mx-auto mb-5">
                            El propósito del sitio web es el proporcionar una herramienta para el estudiante en su periodo académico mediante el uso de un navegador web para facilitar la descarga de material académico relevante para el estudiante. 

                    </p>
                    <p class="text-justify w-responsive mx-auto mb-5">
                            Se pudo identificar una necesidad de material didáctico en temporada de evaluaciones, el cual era una demanda grande suplido principalmente por medios sociales y contactos. Ningún medio fuertemente reconocido pudo ser identificado exceptuando DSpace
                    </p>
              

                
            </section>
                <!--Section: Contact v.2-->
        </div>
        
   
        
        

      </div>
    </div>

    
  </header>