<header class="masthead">
    <div class="container h-100">

      <h3 class="text-center mt-0">LOS POLLITOS DE DAW</h3>
      <hr class="divider my-4">

      
              
              <div class="row">
                <div class="col-lg-4 col-md-6 text-center">
                  <div class="mt-5">
                        <img src="https://i.ibb.co/30bTk7q/descargar.png"  witdh="300" height="300" alt="..." class="rounded-circle foto">
                    <h3 class="h4 mb-2">Axell Concha</h3>
                    <p class="text-muted mb-0">Computación</p>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                  <div class="mt-5">
                        <img src="https://i.ibb.co/6wKVQyk/Screenshot-2.png" witdh="300" height="300" alt="..." class="rounded-circle foto">
                    <h3 class="h4 mb-2">Luis Villamar</h3>
                    <p class="text-muted mb-0">Computación</p>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                  <div class="mt-5">
                        <img src="https://i.ibb.co/c2XMpRR/Screenshot-1.png"  witdh="300" height="300" alt="..." class="rounded-circle foto">
                    <h3 class="h4 mb-2">Allison Barrezueta</h3>
                    <p class="text-muted mb-0">Computación</p>
                  </div>
                </div>
                
              </div>
            
        
        

      </div>
    

    
  </header>