<div id="main">
  <header class="masthead">
    <div class="container-fluid h-100">

      <h3 class="text-center mt-0">CARRERAS</h3>
      <hr class="divider my-4">

      <div class="row h-50 align-items-center justify-content-center text-center ">
      </div>
    </div>

    <div class="social-icons">
      <ul class="list-unstyled text-center mb-0">

        <li class="list-unstyled-item">
          <a href="#">
            <fa-icon [icon]="faFacebookF"></fa-icon>
           
          </a>
        </li>
        <li class="list-unstyled-item">
          <a href="#">
            <fa-icon [icon]="faInstagram"></fa-icon>
          </a>
        </li>
      </ul>
    </div>
  </header>
</div>

  